$small: 640px;
$medium: 1024px;

@mixin rwd($breakpoint) {
    @media screen and(min-width: $breakpoint) {
        @content;
    }
}

body {
    background-color: red;

    // @media screen and (min-width: $small){
    //     background-color: yellow;
    // }

    @include rwd($small){
        background-color: yellow;
    }

    @include rwd($medium){
        background-color: green;
    }
}

// Desktop Fir se rompen cosas o se olvidan cosas
// no muy recomendanble