$small: 640px; 
$medium: 1024px;

@mixin rwd($breakpoint) {
    @media screen and(min-width: $breakpoint) {
        @content;
    }
}

body {
    background-color: red;

    // @media screen and (min-width: $small){
    //     background-color: yellow;
    // }

    @include rwd($small){
        background-color: yellow;
    }

    @include rwd($medium){
        background-color: green;
    }
}

// Content First 
// Estar pendiente que cambios de contenido pueden cambiar el diseño
// Al cambiar contenido de muestra por real se afecta el diseño.
// Probar contenido real
